body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
}

h2 {
	color: black;
	font-size: 56px;
}


.hero {
	background-image: url('https://s-media-cache-ak0.pinimg.com/564x/3e/17/a2/3e17a2d9584a2bc49d65f751406d550c.jpg');
	background-position: center top;
	background-size: contain;
  background-repeat: no-repeat;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: black;
	font-size: 2em;
}

#no-3 {
  color: red;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
