.contact {
    // background: grey;
    // background: url(../../assets/footer-background.png) top no-repeat;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    position: relative;
    &:after {
        content: url(../../assets/connect-arrow-down.png);
        position: absolute;
        display: block;
        transform: scale(0.2);
        left: 47%;
        top: -25%;
        @media (max-width: 1300px) {
            content: '';
        }
        @media (max-width: 480px) {
            content: '';
        }
    }
    
    h3 {
        width: 100%;
        @include heading;
        margin-bottom: 20px;
        position: relative;
        &:before {
            display: block;
            content: url(../../assets/connect-arrow.png);
            transform: scale(0.4);
            position: absolute;
            top: -50%;
            left: 20%;
            @media (max-width: 480px) {
                content: '';
            }
        }
        &:after {
            display: block;
            content: url(../../assets/connect-arrow-flipped.png);
            transform: scale(0.4);
            position: absolute;
            top: -55% ;
            left: 65%;
            @media (max-width: 480px) {
                content: '';
            }
        }
        @media (max-width: 320px) {
            margin: 0;
        }
    }
    .contact-container {
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
        >div  {
            background: center;
            background-size: 100px;
            padding: 30px;
            width: calc(100% / 3);   
            font-family: $body2;   
            font-size: remCalc(25);
            transition: 0.5s;
            &:hover,
            &:focus {
                background: url(../../assets/brushstroke-4.png) center no-repeat;
                background-size: 200px;
                color: white;
                @media (max-width: 480px) {
                    background: transparent;
                    color: black;
                    transform: scale(1.2);
                }
            }
            p  {
                margin-bottom: 10px;
            }
            .fa-envelope-square,
            .fa-linkedin,
            .fa-twitter-square {
                font-size: remCalc(30);
            }

            @media (max-width: 480px) {
                font-size: remCalc(18);
                &:hover,
                &:focus{
                    background-size: 150px;
                    // color: white;
                    }
                }
            }
        }
    }
     @media (max-width: 1300px) {
        .contact h3 {
             &:before,
             &:after {
                 content: '';
             }
         }
     }
    @media (max-width: 768px) {
        &:after {
            content: '';
        }
        h3 {
            &:before,
            &:after {
                content: '';
            }
        }
    }
   


.credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $body2;
    text-transform: capitalize;
    font-size: remCalc(16);
    p {
        margin-bottom: 10px;
    }
}