::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $grey;
    font-family: $body2;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $grey;
    font-family: $body2;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $grey;
    font-family: $body2;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $grey;
    font-family: $body2;
}

.contact-form {
    margin-bottom: 60px;    
    .resume {
        background: url(../../assets/watercolor-5.png) center no-repeat;
        background-size: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;    
        border-radius: 50%;
        border: 1px solid black;   
        position: relative;

        margin: 0 auto;
        text-align: center;
        @include heading;
        margin-bottom: 80px;
        transition: 0.5s;
        &:hover,
        &:focus {
            background-size: 300px;
        }
    }
    .coffee {
        // width: 100%;
        margin-bottom: 50px;
        h2 {
            @include heading;
            margin-bottom: 50px;
            background: url(../../assets/brushstroke.png) center no-repeat;
            padding: 10px 20px;
            background-size: 200px;
            @media (max-width: 768px) {
                margin-bottom: 0;
            }
        }
        .coffee-container {
            display: flex;
            align-items: center;
            .coffee-img {
                width: 30%;
                transform: scaleX(1.1);
            }
            .coffee-text {
                // display: flex;
                width: 70%;
                position: relative;
                label {
                display: none;
                }
                .coffee-top {
                    display: flex;
                    justify-content: space-between;
                    input {
                        padding: 10px 15px;
                        border: 1px dashed black;
                        font-size: remCalc(20);
                        margin-bottom: 30px;
                        width: 33%;
                    }
                }
                textarea {
                    width: 100%;
                    border: 1px dashed black;
                    font-size: remCalc(20);
                    padding: 10px 15px;
                }
                button {
                    position: absolute;
                    right: 20px;
                    bottom: 10px;
                    font-family: $cursive2;
                    font-size: remCalc(28);
                    border: none;
                    padding: 20px 30px;
                    background: url(../../assets/brushstroke-2.png) center no-repeat;
                    background-size: contain;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        transform: scale(1.2);
                    }  
                }
               
            }
            @media (max-width: 768px) {
                 .coffee-img {
                     transform: scale(1);
                 }
                 .coffee-text {
                     .coffee-top input {
                        width: 30%;
                        font-size: remCalc(15);
                        margin-bottom: 7px;
                        padding: 5px;
                         
                     }
                     textarea {
                        font-size: remCalc(15);
                        margin-bottom: 7px;
                        // padding: 5px;
                        padding: 5px;
                        
                        height: 140px;
                     }
                 }
            }
            @media (max-width: 768px) {
                padding: 5% 8% 5% 5%;
            }
        }
    }
}