nav {
    display: flex;
    // width: 100%;
    padding: 30px 35px;
    font-family: $body2;
    font-size: remCalc(25);
    font-weight: bold;
    font-family: $cursive2;
    color: black;
    ul {
        z-index: 10;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        position: fixed;
        right: 0;
        li {
            margin-left: 30px;
            padding: 5px;
            margin: 0 0 10px 0;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    @media (max-width: 768px) {
        padding: 0;
    }
    @media (max-width: 480px) {
        font-size: remCalc(18);
        ul {
            flex-direction: row;
            width: 100%;
            background: rgba(255,255,255,0.9);
            li {
                margin-bottom: 0;
            }
        }
    }
}

#top-menu li.active a {
    border-top: 2px dashed #333;
    border-bottom: 2px dashed #333;
    
    color: #333;
}