// blinking words animation
@keyframes words {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
// bounce animation
@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.hero {
    // background-position:   center, top 50px left;
    // background-repeat: no-repeat, no-repeat;
    // background-size: 500px, 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: capitalize;
    .name {
        text-shadow: 2px 2px 2px grey;
        h1 {
            font-size: remCalc(100);
            font-family: $cursive2;
            margin-bottom: 50px;
            @media (max-width: 480px) {
                font-size: remCalc(70);
            }
        }

        h2 {
            @include heading;
            color: $grey;  
        }
    }
    .hero-arrow {
        width: 50px;
        position: absolute;
        bottom: 20%;
        left: 47%;
        transform: rotate(-38deg);
    }
    .hero-container {
        font-family: $cursive2;
        font-size: remCalc(25);
        position: absolute;
        text-shadow: 1px 1px 1px grey;
        width: 80%;
        height: 80%;
        p {
            display: inline-block;
            color: rgb(68, 68, 68);    
        }
        .trait {
            &:hover,
            &:focus {
                animation: none;
                transform: scale(2);
                cursor: default;
                @media (max-width: 480px) {
                    transform: scale(1.3);
                }
            }
        }
        .trait1 {
            animation: words ease 3s infinite;
            position: absolute;
            left: 20%;
            top: 18%;
        }
        .trait2 {
            animation: words ease 2s infinite;
            position: absolute;
            color: $hackeryou;
            left: 42%;
            // transform: translateX(-50%);
            font-size: remCalc(32);
            top: 23%;
        }
        .trait3 {
            animation: words ease 2s infinite;
            animation-delay: 1.5s;
            position: absolute;
            left: 60%;
            top: 10%;
        }
        
        .trait4 {
            animation: words ease 1.5s infinite;
            animation-delay: 1.5s;
            position: absolute;
            left: 73%;
            top: 30%;
        }
        .trait5 {
            animation: words ease 2s infinite;
            animation-delay: 1.5s;
            position: absolute;
            left: 15%;
            top: 45%;
            @media (max-width: 1170px) {
                left: 10%;
            }
        }
        .trait6 {
            animation: words ease 2.5s infinite;
            animation-delay: 1.5s;
            position: absolute;
            left: 69%;
            top: 49%;
        }
        @media (max-width: 768px) {
            // position: relative
            top: 5%;

            .trait {
                // left: 50%;
                // transform: translateX(-50%);
                text-align: center;
                left: 0;
                top: 0;
                position: relative;
                display: block;
                margin-bottom: 7px;
            }
        }
        @media (max-width: 480px) {
            font-size: remCalc(19);
            top: 10%;
        }
        // @media screen and (max-width: 768px ) and (max-height: 1024) {
        //     top: 20%;
        // }
    }
    .read-more {
        // display: flex;
        position: absolute;
        // letter-spacing: 1.5px;
        z-index: 2;
        bottom: 15%;
        font-family: $body2;
        // font-size: remCalc(50);
        width: 80px;
        color: rgb(68, 68, 68);
        // font-weight: 700;
        padding: 10px 20px;
        // border: 1px dashed #000;
        // padding-bottom: 5px;
        // position: relative;
        // &:after {
        //     content: url(../../assets/connect-arrow-down.png);
        //     position: absolute;
        //     display: block;
        //     transform: scale(0.3);
        //     // left: 0;
        //     // left: 50%;
        //     top: -60px;
        // }
        &:hover,
        &:focus {
             animation: bounce 1s;
        }
        p {
            margin-left: 10px;
        }
    }
}