// .var-highlight {
//     color: #C0AD60;
// }

// .string-highlight {
//     color: rgba(253, 149, 90, 0.8);
// }

// #typewriter {
//     font-size: 2em;
//     margin: 0;
//     font-family: "Courier New";
//     &:after {
//         content: "|";
//         animation: blink 500ms linear infinite alternate;
//     }
// }

// @-webkit-keyframes blink {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

// @-moz-keyframes blink {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

// @keyframes blink {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

// blinking words animation
@keyframes words {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
// bounce animation
@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.hero {
    background: url(../../assets/hero3.png), url(../../assets/hero4.png); 
    background-position:  bottom right, top 50px left;
    background-repeat: no-repeat, no-repeat;
    background-size: 400px, 300px;
    // background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: capitalize;
    // margin-bottom: 30px;
    
    h1 {
        font-size: remCalc(100);
        font-family: $cursive2;
        margin-bottom: 80px;
        text-shadow: 2px 2px 2px grey;
        // font-weight: 700;
        // span {
        //     // animation: words 1s infinite;
        // }
        // margin-bottom: 50px;
        // text-transform: capitalize;
    }

    h2 {
        @include heading;
        // color: darkgray;
        color: rgb(68, 68, 68);  
    }
    .hero-arrow {
        width: 50px;
        position: absolute;
        bottom: 20%;
        left: 47%;
        transform: rotate(-38deg);
    }
    .hero-container {
        font-family: $cursive2;
        font-size: remCalc(25);
        position: absolute;
        // background: rgba(38, 125, 196, 0.253);
        width: 80%;
        height: 80%;
        outline: 3px solid white;
        p {
            display: inline-block;
            color: rgb(68, 68, 68);    
        }
        .trait {
            &:hover {
                animation-play-state: paused;
                cursor: pointer;
            }
        }
        .trait1 {
            animation: words ease 3s infinite;
            position: absolute;
            left: 20%;
            top: 18%;
        }
        .trait2 {
            animation: words ease 2s infinite;
            position: absolute;
            color: $hackeryou;
            left: 50%;
            transform: translateX(-50%) scale(1.5);
            top: 20%;
        }
        .trait3 {
            animation: words ease 2s infinite;
            animation-delay: 1.5s;
            position: absolute;
            left: 60%;
            top: 10%;
        }
        
        .trait4 {
            animation: words ease 1.5s infinite;
            animation-delay: 1.5s;
            position: absolute;
            left: 73%;
            top: 25%;
        }
        .trait5 {
            animation: words ease 2s infinite;
            animation-delay: 1.5s;
            position: absolute;
            left: 15%;
            top: 45%;
        }
        // .trait6 {
        //     animation: words ease 2s infinite;
        //     animation-delay: 1.5s;
        //     position: absolute;
        //     left: 35%;
        //     top: 47%;
        // }
        .trait6 {
            animation: words ease 2.5s infinite;
            animation-delay: 1.5s;
            position: absolute;
            left: 65%;
            top: 55%;
        }
    }
    .read-more {
        // display: flex;
        position: absolute;
        // letter-spacing: 1.5px;
        z-index: 2;
        bottom: 15%;
        font-family: $body2;
        font-size: remCalc(18);
        color: rgb(68, 68, 68);
        // font-weight: 700;
        padding: 10px 20px;
        border: 1px dashed #000;
        // padding-bottom: 5px;
        // position: relative;
        // &:after {
        //     content: url(../../assets/connect-arrow-down.png);
        //     position: absolute;
        //     display: block;
        //     transform: scale(0.3);
        //     // left: 0;
        //     // left: 50%;
        //     top: -60px;
        // }
        &:hover {
             animation: bounce 1s;
        }
        p {
            margin-left: 10px;
        }
    }
}