$heading: 'Raleway', sans-serif;
$body: 'Raleway', sans-serif;
$cursive: 'Cedarville Cursive', cursive;
$body2: 'Dosis', sans-serif;
$heading2: 'Shadows Into Light',cursive;
$cursive2: 'Amatic SC', cursive;


          
$grey: rgb(68, 68, 68);
$main-color: #ff5e3a;
$hackeryou: rgb(218, 55, 50);


@mixin heading {
    font-family: $cursive2;
    font-size: remCalc(50);
    text-transform: capitalize;
    text-align: center;
    @media (max-width: 480px) {
        font-size: remCalc(40);
    }
    @media (max-width: 320px) {
        font-size: remCalc(25);
    }
}

@mixin body {
    font-family: $body2;
    font-size: remCalc(18);
    line-height: 2.5;
    text-align: justify;
    @media (max-width: 480px) {
        line-height: 1.7;
        font-size: remCalc(16);
    }
    @media (max-width: 320px) {
        font-size: remCalc(14);
    }
}

@mixin before {
    display: block;
    position: absolute;
}